[user]
	email = max.cortes.f@gmail.com
	name = Maximiliano Cortes

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true
[merge]
  connflictstyle = diff3

[diff]
  colorMoved = default
